<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Num&eacute;ration Formule Sanguine NFS</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
					{% include "MassilConfigBundle:Bilan:hemogramme.html.twig" %}
			</div>
			<div class="col-md-8">
					{% include "MassilConfigBundle:Bilan:formuleleucocytaire.html.twig" %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
					{% include "MassilConfigBundle:Bilan:myleogramme.html.twig" %}
			</div>
		</div>
	</div>
</div>