<div class="well">
	{{ consultation.motif|raw }}
</div>
<div class="well">
	{{ consultation.diagnostic|raw }}
</div>
<div class="well">
	{{ examen.clinique|raw }}
</div>
<div class="well">
	{{ examen.paraclinique|raw }}
</div>