{% extends "MassilConfigBundle::layout.html.twig" %}

{% block title %}
	Config : {{ bilan|raw }}
{% endblock %}

{% block medical_body %}
	
	{# page header #}
	<div class="page-header">
		<h1><i class="glyphicon glyphicon-cog"></i>  Param&egrave;tres : <small> {{ bilan|raw }}</small></h1>
	</div>
	
	{# start of the form #}
	<form method="post" {{ form_enctype(form) }}>
		
		{# token field and submit button #}
		<div class="row">
			{{ form_row(form._token) }}
			
			<button type="submit" class="btn btn-success">
				<i class="glyphicon glyphicon-floppy-disk"></i>
				 Enregistrer
			</button>
		</div>
		<br>
		
		{# include fns parameters#}
		<div class="row">
			{% include "MassilConfigBundle:Bilan:fns.html.twig" %}
		</div>
		{# include fer serique and sucre and vitamines parameters #}
		<div class="row">
				{% include "MassilConfigBundle:Bilan:fer.html.twig" %}
			
				{% include "MassilConfigBundle:Bilan:sucre.html.twig" %}
				
				{% include "MassilConfigBundle:Bilan:vitamine.html.twig" %}
		</div>
		{# include protéines parameters #}
		<div class="row">
			{% include "MassilConfigBundle:Bilan:proteines.html.twig" %}
		</div>
		{# include bilan hepatique parameters #}
		<div class="row">
			{% include "MassilConfigBundle:Bilan:hepatique.html.twig" %}
		</div>
		{# include hemostase parameters #}
		<div class="row">
			{% include "MassilConfigBundle:Bilan:hemostase.html.twig" %}
		</div>
	</form>
{% endblock %}