<form method="post" action="{{ path('medical_recherche') }}" {{ form_enctype(form) }} class="navbar-form navbar-right" role="form">
	<div class="form-group">
		{{ form_widget(form.search,{'attr':{'class':'form-control'}}) }}
	</div>
	<button type="submit" class="btn btn-primary">Rechercher</button>
	{{ form_rest(form) }}
	
</form>