{% if form_errors(form.examen.clinique) %}
	<div class="alert alert-danger">
		{{ form_errors(form.examen.clinique) }}
	</div>
{% endif %}
{{ form_widget(form.examen.clinique,{'attr':{'value':'<p>massil</p>'}}) }}